<div class="navbar">
    <div class="grid wide ">
        <div class="row ">
            <div class="navbar-top col l-12">
                <ul class="navbar-list">
                    <li class="navbar-item ">Hotline : <a href="" class="navbar-link">0966 158 666 </a>(8h- 12h,13h30- 17h) </li>
                    <li class="navbar-item "><a href="" class="navbar-link">Tìm cửa hàng</a></li>
                    <li class="navbar-item "><a href="" class="navbar-link">Liên hệ hợp tác</a></li>
                    <li class="navbar-item "><a href="" class="navbar-link">Mua hàng tại Amazon</a></li>
                    <li class="navbar-item "><a href="" class="navbar-link">Kiểm tra đơn hàng</a></li>
                    <ul class="navbar-fomr">
                        <li class="navbar-fomr-item "><a href="" class="navbar-fomr-link">Đăng ký</a></li>
                        <li class="navbar-fomr-item "><a href="" class="navbar-fomr-link">Đăng nhập</a></li>
                    </ul>
                    <li class="navbar-item "><a href="" class="navbar-link"><img src="asset/img/logo_vn.png" alt="" class="navbar-img"></a></li>

                </ul>

            </div>
        </div>
    </div>
</div>
<div class="navbar-with-seach">
    <div class="grid wide">
        <div class="row">
            <div class="col l-1">
                <div class="navbar-logo">
                    <a href="" class="navbar-logo__logo">
                        <img src="asset/img/logo_bitis.png" alt="" class="navbar-logo__img">
                    </a>
                </div>
            </div>
            <div class="col l-7">
                <ul class="navbar-menu">
                    <li class="navbar-menu__item"><a href="" class="navbar-menu__link navbar-menu__link--active">Về bitis</a></li>
                    <li class="navbar-menu__item"><a href="" class="navbar-menu__link">nam</a></li>
                    <li class="navbar-menu__item"><a href="" class="navbar-menu__link">nữ</a></li>
                    <li class="navbar-menu__item"><a href="" class="navbar-menu__link">gosto</a></li>
                    <li class="navbar-menu__item"><a href="" class="navbar-menu__link">bé trai</a></li>
                    <li class="navbar-menu__item"><a href="" class="navbar-menu__link">bé gái</a></li>
                    <li class="navbar-menu__item"><a href="" class="navbar-menu__link">Flash sale</a></li>
                    <li class="navbar-menu__item">
                        <a href="" class="navbar-menu__link">
                            Nông sản
                            <img src="//theme.hstatic.net/1000230642/1000679613/14/hello-fresh-logo.png?v=3715" class="navbar-menu__img">
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col l-3">
                <div class=" navbar-seach">
                    <input type="text" class="navbar-seach__input" placeholder="Nhập thông tin cần tìm">
                    <button class="navbar-seach__btn">
                        <i class=" fas fa-search navbar-seach__icon "></i>
                    </button>

                </div>
            </div>
            <div class="col l-1">
                <div class="navbar-item">
                    <a href="" class="navbar-item__item">
                        <i class="far fa-heart navbar-item__icon"></i>
                    </a>
                    <a href="" class="navbar-item__item navbar-item__cart">
                        <i class="fas fa-shopping-cart navbar-item__icon"></i>
                        <span class="navbar-item__notice">3</span>


                        <!-- chua có sản phẩm -->
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contenr">
    <div class="silider">
        <div class="grid wide ">
            <div class="row ">
                <div class="navbar-top col l-12">

                    <!-- Slideshow container -->
                    <div class="slideshow-container">

                        <!-- Full-width images with number and caption text -->
                        <div class="mySlides fade">
                            <div class="numbertext">1 / 4</div>
                            <img src="asset/img/anh 1.jpg" style="width:100%">
                            <div class="text">Caption Text</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">2 / 4</div>
                            <img src="asset/img/anh2.jpg" style="width:100%">
                            <div class="text">Caption Two</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">3 / 4</div>
                            <img src="asset/img/anh3.jpg" style="width:100%">
                            <div class="text">Caption Three</div>
                        </div>

                        <div class="mySlides fade">
                            <div class="numbertext">4 / 4</div>
                            <img src="asset/img/anh4.jpg" style="width:100%">
                            <div class="text">Caption Three</div>
                        </div>

                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <br>

                    <!-- The dots/circles -->
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>




@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
